Repository Lev-Echad/levechad-backend, pull requests merged in 2020-04, with the labels that each got.

#78 bugfix-58: email field changed from CharField to EmailField
  client/forms.py
  client/migrations/0006_auto_20200328_2346.py
  client/models.py
Labels: requires-migration

#161 Bugfix 36
  client/templates/help_pages/home.html
  client/urls.py
  client/views.py
  server/urls.py
  server/views.py
Labels: Code Cleanup

#99 Added Sifrat Bikoret validation + made code hurt less
  client/forms.py
  client/migrations/0007_auto_20200330_1242.py
  client/migrations/0008_auto_20200330_1711.py
  client/migrations/0009_merge_20200402_1154.py
  client/migrations/0010_auto_20200402_1202.py
  client/migrations/0011_auto_20200402_1203.py
  client/migrations/0012_auto_20200402_1224.py
  client/models.py
  client/static/client/main.css
  client/templates/volunteer.html
  client/urls.py
  client/validators.py
  client/views.py
  levechad/settings.py
  requirements.txt
  server/templates/server/closes_volunteer.html
  server/templates/server/template.html
Labels: requires-migration

#120 Fixed #92 (.xls exporting)
  client/forms.py
  client/migrations/0009_remove_volunteer_full_name.py
  client/migrations/0010_merge_20200402_1249.py
  client/models.py
  client/views.py
  server/templates/server/volunteer_table.html
  server/views.py
  server/xls_exporter.py
Labels: requires-migration

#136 Made certificates cache themselves as media files + S3 support
  .gitignore
  client/migrations/0009_volunteercertificate_image.py
  client/migrations/0010_auto_20200402_1040.py
  client/models.py
  client/templates/components/get_certificate.html
  client/templates/find_certificate.html
  client/templates/get_certificate.html
  client/templates/template.html
  client/templates/thanks_volunteer.html
  client/urls.py
  client/views.py
  levechad/settings.py
  levechad/storage_backends.py
  levechad/urls.py
  requirements.txt
  server/templates/server/volunteer_table.html
  server/views.py
  setup.py
Labels: requires-migration

#197 bugfix-180: Modifying the Volunteer model
  client/migrations/0017_auto_20200406_2023.py
  client/migrations/0018_auto_20200406_2349.py
  client/migrations/0019_auto_20200406_2354.py
  client/models.py
  requirements.txt
Labels: on hold

#201 Fixed Volunteer model + migration problems
  client/migrations/0017_auto_20200406_2023.py
  client/migrations/0017_auto_20200407_0038.py
  client/migrations/0018_auto_20200406_2349.py
  client/migrations/0019_auto_20200406_2354.py
  client/models.py
Labels: requires-migration

#179 Added request reason to HelpRequest
  client/forms.py
  client/migrations/0019_helprequest_request_reason.py
  client/migrations/0021_merge_20200408_0139.py
  client/models.py
  client/views.py
  server/templates/server/help_table.html
  server/views.py
Labels: requires-migration

#233 Merge develop to master
  client/validators.py
Labels: High Priority, bug

#258 Fixed linting warnings
  api/urls.py
  api/views.py
  client/forms.py
  client/models.py
  client/views.py
  levechad/settings.py
  server/urls.py
  server/views.py
  setup.py
Labels: Code Cleanup

#158 Add pycodestyle linting workflow
  .github/ISSUE_TEMPLATE/general-issue-template.md
  .github/actions/code-style/Dockerfile
  .github/actions/code-style/README.md
  .github/actions/code-style/action.yaml
  .github/actions/code-style/entrypoint.sh
  .github/workflows/code-style.yml
  CONTRIBUTING.md
  README.md
  setup.cfg
Labels: CI

#163 volunteer id (tz_number) should be a unique field
  client/forms.py
  client/static/client/main.css
  client/templates/volunteer.html
  client/validators.py
Labels: enhancement

#321 Issue-319: prevent volunteer deletion
  client/migrations/0027_volunteer_disabled.py
  client/models.py
Labels: requires-migration

#320 Added areas, languages + made moving_way optional
  API.md
  api/serializers.py
  api/throttling.py
  api/urls.py
  api/views.py
  client/migrations/0028_auto_20200417_1931.py
  client/models.py
  levechad/settings.py
Labels: requires-migration

#331 Added geography framework
  .gitignore
  client/geo.py
  levechad/settings.py
  requirements.txt
Labels: Epic, enhancement
